<div class="form-group row">
  <button class="btn btn-success" ui-sref="orderdetails">New Order?</button>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Customer</th>
        <th>Address</th>
        <th>Date</th>
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a ui-sref="orderdetails/{order.id}">2341223</a></td>
        <td><a ui-sref="customerdetails/{customer.id}">John Doe</a></td>
        <td>123 Elm Ogden UT</td>
        <td>2017-12-12/td>
        <td>Open</td>
        <td>$223.12</td>
      </tr>
    </tbody>
  </table>
