<div class="form-group row">
  <button class="btn btn-success" ui-sref="customerdetails">New Customer</button>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a ui-sref="customerdetails/{customer.id}">John</a></td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>802-234-2341</td>
      </tr>
    </tbody>
  </table>
