<div class="form-group row">
  <button class="btn btn-success" ui-sref="productdetails">New Product</button>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Image Url</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a ui-sref="productdetails/{product.id}">Computer</a></td>
        <td>State of the Art Computer</td>
        <td>$23.12</td>
        <td>http://google.com/images</td>
      </tr>
    </tbody>
  </table>
