<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6">
            <div class="panel panel-default" id="login-panel">
              <div class="panel-heading">Login</div>
              <div class="panel-body">
                <form name="loginForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.username.$touched && loginForm.username.$invalid}">
                      <input class="form-control" placeholder="Username/Email" id="username"
                      name="username"
                      ng-model="username"
                      required></input>
                      <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                        <p ng-message="required">Username is required</p>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                        <input class="form-control" placeholder="Password" type="password"
                        id="password"
                        name="password"
                        ng-model="password"
                        required></input>
                        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                          <p ng-message="required">Password is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-success" id="login-button"
                      ng-disabled="loginForm.$invalid"
                       ng-click="login(username, password, reset, loginForm)">Login</button>
                      <button id="login-button" ui-sref="signup" class="btn btn-default">Sign Up</button>
                      <button id="login-button" ui-sref="home" class="btn btn-default">Cancel</button>
                    </div>
                </form>

              </div>
            </div>
        </div>
    </div>
</div>
